<form method="post" action="{{ path('app_composer_delete', {'id': composer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ composer.id) }}">
    <button class="btn">Delete</button>
</form>
